<h2 style="margin-bottom:40px;"><b>愛知県インフルエンザ感染状況サイト</b></h2>

<div style="font-size:18px; border-left: solid 3px #809ece; margin-bottom:20px;"><b>利用方法</b></div>
<p style="margin-bottom:20px;">この「InfluectionMap」は愛知県限定のインフルエンザ感染報告投稿サイトとなっています。このアプリの名前の由来はインフルエンザの「Influenza」と感染を意味する「Infection」を表したアプリケーションです。身近なインフルエンザの感染状況を共有しタイムリーな感染状況を知ることで少しでもインフルエンザの恐怖と感染力の高さを再認識しましょう。感染者の減少や尊い命を救う力に少しでもなることができればという思いの込もったものになっています。是非、会員登録を済ませ感染報告をお寄せください。</p>

<h2 style="margin-bottom:20px;">TIMELINE</h2>

<img src="/images/Aichi.jpg" alt="Aichi's_Map">

<p style="font-size:18px; border-left: solid 3px #809ece; margin-bottom:20px;"><b>愛知県内の現在のインフルエンザ感染報告の一覧です。</b></p>



<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th class="text-center col-md-1">日付</th>
            <th class="text-center col-md-2">地域</th>
            <th class="text-center col-md-1">感染人数</th>
            <th class="text-center col-md-4">コメント</th>
            <th class="text-center col-md-1"></th>
        </tr>
    </thead>
    <tbody>
    	<% @reports.each do |report| %>
    		<tr>
    			<td><%= report.date %></td>
    			<td><%= report.place.area %></td>
    			<td><%= report.people %> 人</td>
    			<td><%= report.content %></td>
    			<td>
    				<div>
    					<% if current_user == report.user %>
            		<%= link_to "Delete", report, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-danger btn-xs' %>
          		<% end %>
    				</div>
    			</td>
    		</tr>
    	<% end %>
    </tbody>
</table>

<%= paginate @reports %>

  	