<% if logged_in? %>
  <div class="container col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">感染報告フォーム</div>
        <div class="panel-body">
            <%= form_for(@report) do |f| %>
              
              <div class="form-group ">
                
              <div style="margin-bottom:20px">
                <%= f.label :date, '感染日' %>
                <%= f.date_select( 
                  :date,
                  use_month_numbers: true,
                  start_year: Time.now.year,
                  end_year: (Time.now.year+20),
                  default: Date.new(Time.now.year, Time.now.month, Time.now.day)) %>
              </div>
              
              <div style = "margin-bottom:20px">
                <%= f.label :place_id, '感染地域' %>
                <%= f.collection_select :place_id, Place.all, :id, :area, :include_blank => true %>
              </div>
              
              
                
              <div style="margin-bottom:20px">
                <%= f.label :people, '人数' %>
                <%= f.select :people , [ ["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"] ,["12","12"] ,["13","13"] ,["14","14"]  ] , :selected=>@report.people, rows: 2 %>
                </div>
                
              <div style="margin-bottom:20px">
                <%= f.label :content, 'コメント' %>
                <%= f.text_area :content, class: 'form-control', rows: 7 %>
              </div>
              </div>
        
          <div style="margin-bottom:20px">
            <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
          </div>
          
            <div class="text-center">
              <%= link_to '一覧に戻る', root_path %>
            </div>
          
          
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  redirect_to root_url
<% end %>