<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Influection Map</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
    <%= render 'layouts/flash_messages' %>
    <div class="row" style="padding:15px 0 0 0">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#b0c4de">MENU</div>
                
                <ul class="nav nav-pills nav-stacked">
                  
                    <li><%= link_to " HOME", root_path, class: "glyphicon glyphicon-home" %></li>
                    
                    <% if logged_in? %>
                    <li><%= link_to " REPORT", new_report_path, class: "glyphicon glyphicon-pencil" %></li>
                    <% else %>
                    <li><%= link_to " REPORT ", signup_path,class: "glyphicon glyphicon-pencil" %></li>
                    <% end %>
      
                    <li><%= link_to " PLACE ", places_path,class: "glyphicon glyphicon-map-marker" %></li>
                    
                    <li><%= link_to " RANKING ", rankings_place_path,class: "glyphicon glyphicon-signal" %></li>
                    
                    <% if logged_in? %>
                    <li><%= link_to " USER ", user_path(current_user),class: "glyphicon glyphicon-user" %></li>
                    <% else %>
                    <li><%= link_to " USER ", signup_path,class: "glyphicon glyphicon-user" %></li>
                    <% end %>
                    
                    <li><%= link_to " ABOUT ", about_path, class: "glyphicon glyphicon-info-sign" %></li>
                    
                    <li><%= link_to " CONTACT ", contact_path, class: "glyphicon glyphicon-envelope" %></li>
                    
                </ul> 
        
            </div>
        </div>
        
        <div class="col-md-10">
          
          <%= yield %>
          
        </div>
    </div>
  </div>
  
    
      <footer>
        <small>&copy; 2019 Infuluection Map.</small>
      </footer>
    
  </body>
</html>
